body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    background:linear-gradient(135deg, #228B22, #32CD32, #87CEEB, #FFFF00);
}
.ndo {
    border-radius: 15px;
    box-shadow: 0 4px 8px black;
    padding: 30px;
    width: 400px;
    text-align: center;
    backdrop-filter: blur(5px);
}
.Skill{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    width: 60px;
    text-align: left;
    margin: 20px;
}
 img {
    width: 60px;
    height: 60px;
}
.Skill span {
    margin-left: 15px;
    font-size: 18px;
    font-weight: bold;
    font-size: 18px;
}
.ndo a {
    background-color: #87CEEC;
    box-shadow:  0 4px 8px black;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
.ndo a:hover {
    background-color: #32CD32;
}