body {
	margin: 0;
	font-family: Arial, sans-serif;
	width: 100%;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background:black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}
.nav-link { 
	list-style: none;
	display: flex;
	gap:25px;
}
.nav-link li  a {
	color:#ddd;
	text-decoration: none;
	font-size: 16;
	transition: 0.3s;
	background-color:grey;
	padding:10px 20px;
	border-radius:20px;
}
.nav-link li a:hover {
	background-color:white;
	padding:10px 20px;
	border-radius:20px;
	color:black;
	font-weight:bold;
}
.content {
	padding: 80px 20px;
	background:linear-gradient(135deg, #6a5af9, #5ac8fa);
	color:white;
	text-align:center;
}
.logo {
	background:white;
	color:black;
	border-radius:50px;
	font-weight:bold;
	font-size:21;
	text-shadow:0 0 7px #fff, 0 0 21px #ff00de;
	padding:10px;
}
.content a {
	padding: 10px 40px;
	background-color: #6a5af9;
	border-radius:10px;
	color: black;
	text-decoration:none;
	font-weight:bold;
}
a:hover {
	background-color: #5ac8fa;
	color: white;
	padding: 10px 40px;
	border-radius: 10px;
	transition: 0.35s;
}